html, body {
  margin: 0;
  padding: 0;
}


#image_canvas{
  display: block;
  margin: 150px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-color: rgb(0,0,0);
}

canvas {
  display: block;
  margin: 150px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-color: #E5BD8A;
}






